body
{
    color: #ffffff;
    font-size: 69px;
    background-color: #000000;
<<<<<<< HEAD
    height: auto;
    width: auto;
    position: fixed;
=======
>>>>>>> 7d13b4d48376f34907ba2e3a5b8ff266023424eb
}